.container{
   display: flex;
   flex-direction: row;
  justify-content: center;
    align-items: center;
   gap: 10px;
   border: 10px solid gray;
   height: 80vh;
   /* box-sizing: border-box; */
}
p{
   width: 200px;
   height: 100px;
}
.blue{
   background-color: blue;
   flex-basis: 20rem;
   flex-shrink: 1;
}
.red{
   background-color: red;
   flex-grow: 0;
}
.orange{
   flex-grow: 1;
   background-color: rgb(255, 94, 0);
}